/*! Plasttic CSS Reset v3.0.0 | MIT License | https://plasttic.dev/ */

/**
  * Plasttic CSS Reset
  *
  * Styling for CSS cross-browser consistency,
  * resets for predicted styling results
  * and best practices styling defaults
  *
  * INDEX
  * Global
  * Document
  * Cursor
  * Typography
  * Media
  * Forms
  * Code
  * Focus
  * Animation
  * Exceptions
  * Dark theme
  * Customize
  */

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* Remove default margin and padding globally */
  margin: 0;
  padding: 0;
  /* Styling for underline text */
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.25ex;
}

:where(iframe, embed, object) {
  display: block;
}

/* Document */

@media (prefers-reduced-motion: no-preference) {
  :where(html),
  :where(:has(:target)) {
    /* Scroll preference */
    scroll-behavior: smooth;
  }
}

:where(html) {
  /* Scroll top spacing */
  scroll-padding-top: var(--ptt-reset-scroll-padding, 2em);
}

:where(html, body) {
  /* Viewport height units (vh/svh/dvh/lvh) are set on the layout sections */
  height: 100%;
}

/* Cursor */

:where(a[href], area, button, summary, [tabindex]:not([tabindex*="-"])),
:where(input, label[for], select, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  cursor: pointer;
}

:where(button, input, select, textarea)[disabled] {
  cursor: no-drop;
}

:where(abbr) {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: help;
}

/* Typography */

:where(html) {
  /* Avoid text inflation on mobile screens */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* Punctuation alignment (Safari only) */
  hanging-punctuation: first last;
}

:where(body) {
  font-family:
    system-ui,
    -apple-system,
    "SF Pro",
    "Segoe UI",
    Roboto,
    Ubuntu,
    sans-serif;
  text-rendering: optimizespeed;
  /* Typography defaults for readability */
  line-height: var(--ptt-reset-body-line-height, 1.45);
  letter-spacing: var(--ptt-reset-body-spacing, 0.012em);
  word-spacing: 0.016em;
}

:where(h1, h2, h3, h4) {
  /* Bigger headings typography defaults for readability */
  line-height: var(--ptt-reset-header-line-height, 1.1);
  word-spacing: 0.015em;
}

:where(h1) {
  /* Prevent long lines */
  max-inline-size: var(--ptt-reset-h2-width, 25ch);
  /* Bigger font size */
  font-size: 2.5rem;
}

:where(h2) {
  /* Prevent long lines */
  max-inline-size: var(--ptt-reset-h2-width, 30ch);
  /* Bigger font size */
  font-size: 2rem;
}

:where(h3) {
  /* Prevent long lines */
  max-inline-size: var(--ptt-reset-h3-width, 35ch);
  /* Bigger font size */
  font-size: 1.5rem;
}

:where(h4) {
  /* Prevent long lines */
  max-inline-size: var(--ptt-reset-h4-width, 55ch);
  /* Bigger font size */
  font-size: 1rem;
}

:where(h5, h6, p, li) {
  /* Prevent long lines for readability */
  max-inline-size: var(--ptt-reset-hpli-width, 65ch);
}

:where(h1, h2, h3, h4) {
  /* Better spacing between content */
  margin-block-end: var(--ptt-reset-header-space-bottom, 0.75em);
}

:where(article h1, header:not([role="banner"]) > h1),
:where(h2, h3, h4) {
  /* Better spacing between lines */
  margin-block-start: var(--ptt-reset-header-space-top, 2em);
}

:where(p, h5, h6, ul, ol, dl, form, fieldset, pre, figure, hr) {
  /* Better spacing between content */
  margin-block-start: var(--ptt-reset-content-space-top, 0.5em);
}

:where(h1, h2, h3, h4, h5, h6) {
  /* Text wrap */
  text-wrap: balance;
  overflow-wrap: break-word;
}

:where(p, li) {
  /* Text wrap */
  text-wrap: pretty;
  overflow-wrap: break-word;
}

/* Media */

:where(img, svg, video, audio, picture, canvas) {
  /* Make media easier to work with */
  display: block;
  max-width: 100%;
  height: auto;
}

:where(img, svg, video) {
  /* Default sizing */
  max-width: 100%;
  height: auto;
}

:where(img, video) {
  /* Avoid distortion by filling the entire content box */
  object-fit: cover;
  object-position: center;
}

/* Forms */

:where(button, input, select, textarea),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input)::file-selector-button {
  /* Apply document default typography styles */
  padding: 0;
  background: transparent;
  border: 1px solid #000000;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

:where(input[type="file"]) {
  /* Apply document default typography styles */
  border: none;
}

/* Code */

:where(pre, code, kbd, samp) {
  font: inherit;
  font-family: ui-monospace, "SF Mono", "Segoe UI Mono", "Roboto Mono",
    "Ubuntu Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

:where(pre) {
  max-inline-size: max-content;
  white-space: pre;
  writing-mode: lr;
}

:where(code) {
  writing-mode: lr;
}

/* Focus */

:where(
    a[href],
    input,
    button,
    textarea,
    select,
    [tabindex]:not([tabindex*="-"])
  ):focus-visible,
:where(input[type="file"])::-webkit-file-upload-button:focus-visible,
:where(input)::file-selector-button:focus-visible {
  border-radius: 1px;
  outline: 1px solid hsl(0 0% 100%);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--ptt-reset-focus-color, hsl(26 86% 61%));
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  /* Accessibility: Remove animations and transitions when motion preference set to reduce */
  *,
  :before,
  :after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

/* Exceptions */

:where(ul):not([role="list"]) {
  padding-inline-start: 1.75ex;
  /* Note: apply the role=list when styling with list-style=none
  so it doesn't loose its semantic value on safari */
}

:where(ol):not([role="list"]) {
  padding-inline-start: 2.5ex;
  /* Note: apply the role=list when styling with list-style=none
  so it doesn't loose its semantic value on safari */
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
  :where(
      textarea,
      select,
      input:not([type="button"], [type="submit"], [type="reset"])
    ) {
    background-color: #171a1c;
  }
}

/* Customize: Available properties to customize the reset defaults */

:root {
  /* Focus style color: Use brand color or complementary */
  --ptt-reset-focus-color: hsl(26 86% 61%);

  /* Top padding when using links to scrolling down */
  --ptt-reset-scroll-padding: 2em;

  /* Better text readability */
  /* This properties best values depend on the font used */
  --ptt-reset-body-line-height: 1.45; /* 1.4 to 1.6 */
  --ptt-reset-body-width: 65ch; /* 50ch to 80ch - h5, h6, p, li */
  --ptt-reset-body-spacing: 0.012em; /* letter spacing */
  /* Headers exceptions */
  --ptt-reset-header-line-height: 1.1; /* 1 to 1.2 - h1, h2, h3, h4 */
  --ptt-reset-h1-width: 30ch;
  --ptt-reset-h2-width: 35ch;
  --ptt-reset-h3-width: 45ch;
  --ptt-reset-h4-width: 55ch;

  /* Better spacing between content */
  --ptt-reset-content-space-top: 0.5em;
  --ptt-reset-header-space-bottom: 0.75em; /* h1, h2, h3, h4 */
  --ptt-reset-header-space-top: 2em; /* h1: if not inside a header with role=banner */
}
